<!DOCTYPE html>
<html>
  <head>
    <title>Dont Care</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= title %>
    <h1> List:</h1>
    <p>Site: <%= title[0].site %></p>
    <p>Link: <%= title[0].link %></p>
  </body>
</html>
